<app-header></app-header>
<div class="contenedor-login">
    <img src="/assets/img/botella.png" alt="">
    <div class="login">
        <form class="container">
            <div class="encabezado-login ">
                <p for="" class="title">Produccion de Leche</p>
                <h1 for="" class="descripcion">Ingrese los datos correspondientes</h1>
            </div>
            <div class="form-group">
                <label for="email">Total de Produccion</label>
                <input type="text" class="form-control" id="correo" #correo>
            </div>
            <div class="form-group">
                <label for="email">Consumo en Casa</label>
                <input type="text" class="form-control" id="correo" #correo>
            </div>
            <div class="form-group">
                <label for="password">Consumo Ternero</label>
                <input type="password" class="form-control" id="contrasena" #contrasena>
            </div>
            <div class="row">
                <button class="col btn-1 btn btn-primary">Guardar</button>
                <button class="col btn-2 btn btn-primary">Cancelar</button>
            </div>

        </form>
    </div>
</div>