<app-header></app-header>
<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<div class="contenedor-login">
    <img src="/assets/img/botella.png" alt="">
    <div class="login">
        <form class="container">
            <div class="encabezado-login ">
                <p for="" class="title">Produccion de Leche</p>
                <h1 for="" class="descripcion">Ingrese los datos correspondientes</h1>
            </div>
            <div class="form-group">
                <label for="email">Total de Produccion</label>
                <input type="number" class="form-control" id="correo" #produccion>
            </div>
            <div class="form-group">
                <label for="email">Consumo en Casa</label>
                <input type="number" class="form-control" id="correo" #consumoCasa>
            </div>
            <div class="form-group">
                <label for="password">Consumo Ternero</label>
                <input type="number" class="form-control" id="contrasena" #consumoTernero>
            </div>
            <div class="row">
                <button (click)="guardarRegistro(produccion.value,consumoCasa.value,consumoTernero.value)" class="col btn-1 btn btn-primary">Guardar</button>
                <button class="col btn-2 btn btn-primary">Cancelar</button>
            </div>

        </form>
    </div>
</div>
