<app-header></app-header>
<div class="example-loading-shade" *ngIf="isLoadingResults ">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div class="contenedor-login">
    <div class="encabezado-login ">
        <p for="" class="title">CONTROL DE SALUD</p>
        <!-- <h1 for="" class="descripcion">Ingresa los datos correspondientes</h1> -->
    </div>
    <div class="encabezado">
        <div class="animal">
            <img *ngIf="animal.fotoAnimal" [src]="animal.fotoAnimal" class="img-animal" alt="...">
            <img *ngIf="!animal.fotoAnimal" src="/assets/img/vaca-negra.png" class="img-animal" alt="...">
        </div>
        <div class="datosanimal">
            <label for="">Nombre:<p>{{animal.nombreAnimal}}</p> </label>
            <label for="">Numero:&nbsp; &nbsp;<p>{{animal.numAnimal}}</p> </label>
        </div>
    </div>

    <div class="login">
        <form class="container">
            <div class="form-group">
                <div class="pruebas">
                    <div class="etiqueta">
                        <label>Prueba de Tuberculosis </label>
                        <input type="date" class="form-control" #fechaTuber>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions2" #tubP>
                        <label class="form-check-label" for="inlineRadio1">Positivo</label>
                    </div>
                    <div class="form-check form-check-inline" #form>
                        <input class="form-check-input" type="radio" name="inlineRadioOptions2" #tubN>
                        <label class="form-check-label" for="inlineRadio2">Negativo</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="pruebas">
                    <div class="etiqueta">
                        <label>Prueba de Brucelosis </label>
                        <input type="date" class="form-control" #fechaBru>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" #bruP>
                        <label class="form-check-label" for="inlineRadio1">Positivo</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" #bruN>
                        <label class="form-check-label" for="inlineRadio2">Negativo</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="pruebas">
                    <div class="etiqueta">
                        <label>Prueba de Mastitis </label>
                        <input type="date" class="form-control" #fechaMas>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions3" #masP>
                        <label class="form-check-label" for="inlineRadio1">Positivo</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions3" #masN>
                        <label class="form-check-label" for="inlineRadio2">Negativo</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="pruebas">
                    <div class="ubre-label">
                        <label>Marcar tetas infectadas </label>

                        <div class="ubre">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineRadio1" #tetaA>
                                <label class="form-check-label" for="inlineRadio1">A</label>
                                <input class="form-check-input" type="checkbox" id="inlineRadio1" #tetaB>
                                <label class="form-check-label" for="inlineRadio1">C</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineRadio2" #tetaC>
                                <label class="form-check-label" for="inlineRadio2">B</label>
                                <input class="form-check-input" type="checkbox" id="inlineRadio2" #tetaD>
                                <label class="form-check-label" for="inlineRadio1">D</label>
                            </div>
                        </div>
                    </div>

                    <div class="etiqueta-tratamiento">
                        <label for="exampleFormControlTextarea1" class="form-label">Tratamientos</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" #tartamiento></textarea>
                    </div>
                </div>
            </div>


            <div class="row">
                <button (click)="guardar(fechaTuber.value,tubP.checked,tubN.checked,fechaBru.value,bruP.checked,bruN.checked,fechaMas.value,masP.checked,masN.checked,tetaA.checked,tetaB.checked,tetaC.checked,tetaD.checked,tartamiento.value)" class=" col btn-1 btn btn-primary">Guardar</button>
                <button (click)="cancelar()" class="col btn-2 btn btn-primary">Cancelar</button>
            </div>
        </form>
    </div>
</div>
