<nav class="navbar">
    <div class="container-fluid">
        <div class="inicio">
            <a href="main"><img src="/assets/img/inicio.png" alt=""></a>
            <label for="">Finca</label>
        </div>
        <div class="cow">
            <a href="ganado"><img src="/assets/img/cow.png" alt=""></a>
            <label for="">Ganado</label>
        </div>
        <div class="produccion">
            <a href="produccion"><img src="/assets/img/produccion.png" alt=""></a>
            <label for="">Producción</label>
        </div>
    </div>
</nav>
