<nav class="navbar">
    <div class="container-fluid">
        <div (click)="inicio()" class="inicio">
            <a><img src="/assets/img/inicio.png" alt=""></a>
            <label for="">Finca</label>
        </div>
        <div (click)="ganado()" class="cow">
            <a><img src="/assets/img/cow.png" alt=""></a>
            <label for="">Ganado</label>
        </div>
        <div (click)="produccion()" class="produccion">
            <a><img src="/assets/img/produccion.png" alt=""></a>
            <label for="">Producción</label>
        </div>
    </div>
</nav>
