<app-header></app-header>
<div class="example-loading-shade" *ngIf="isLoadingResults ">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div class="contenedor-login">
    <div class="encabezado-login ">
        <p for="" class="title">NATALIDAD</p>
        <!-- <h1 for="" class="descripcion">Ingresa los datos correspondientes</h1> -->
    </div>
    <div class="encabezado">
        <div class="animal">
            <img *ngIf="animal.fotoAnimal" [src]="animal.fotoAnimal" class="img-animal" alt="...">
            <img *ngIf="!animal.fotoAnimal" src="/assets/img/vaca-negra.png" class="img-animal" alt="...">
        </div>
        <div class="datosanimal">
            <label for="">Nombre:<p>{{animal.nombreAnimal}}</p> </label>
            <label for="">Numero:&nbsp; &nbsp;<p>{{animal.numAnimal}}</p> </label>
        </div>
    </div>

    <div class="login">
        <form class="container">
            <div class="form-group">
                <label>Fecha de Palpacion</label>
                <input type="date" class="form-control" #fechaPalpa>
            </div>
            <div class="form-group">
                <label>Fecha de Premies</label>
                <input type="date" class="form-control" #fechaPremies>
            </div>
            <div class="form-group">
                <label>Fecha estimada a parir</label>
                <input type="date" class="form-control" #fechaPremies>
            </div>
            <div class="form-group">
                <label>Numero de Parto</label>
                <input type="number" class="form-control" #Parto>
            </div>
            <div class="form-group">
                <label>Produccion Lechera</label>
                <input type="number" class="form-control" #ProduccionLechera>
            </div>
            <div class="row">
                <button (click)="guardar(fechaPalpa.value,fechaPremies.value,fechaPremies.value,Parto.value,ProduccionLechera.value)" class=" col btn-1 btn btn-primary">Guardar</button>
                <button (click)="cancelar()" class="col btn-2 btn btn-primary">Cancelar</button>
            </div>
        </form>
    </div>
</div>
