<nav class="navbar ">
    <div class="container-fluid">
        <div class="menu" appClickOutside (clickOutside)="clickOutsideMenu($event)" (click)="openNav()">
            <div class="hamburgueza"></div>
            <div class="hamburgueza"></div>
            <div class="hamburgueza"></div>
        </div>
        <h1>{{usuario.nombreFinca | uppercase }}</h1>
        <a class="navbar-brand" href="#">
            <img src="/assets/img/logo.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
        </a>

    </div>
</nav>

<div id="mySidenav" class="sidenav" appClickOutside (clickOutside)="clickOutsideSide($event)">
    <a (click)="main()"><img style="width: 20px;" src="/assets/img/granja.png" alt=""> Finca</a>
    <a><img style="width: 20px;" src="/assets/img/usuario.png" alt=""> Perfil </a>
    <a (click)="ganado()"><img style="width: 20px;" src="/assets/img/vaca-negra.png" alt=""> Control Ganadero</a>
    <a (click)="Produccion()"><img style="width: 20px;" src="/assets/img/botella.png" alt="">Produccion lechera</a>
    <a (click)="logout()"> <img style="width: 20px;" src="/assets/img/sesion.png" alt=""> Cerrar Sesión</a>
</div>
