<app-header></app-header>
<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<div class="menu">
    <ul class="list-group ">
        <li class="list-group-item active" aria-current="true">
            <label class="title">Menu General</label>
            <label class="description">Elija una opcion para continuar</label>
        </li>
        <li class="list-group-item">
            <img class="fluid" src="/assets/img/menulistado.png" alt="">
            <button (click)="listado()" class="btn btn-primary">Listado del ganado</button>
        </li>
        <li class="list-group-item">
            <img class="fluid" src="/assets/img/menuagregar.png" alt="">
            <button (click)="agregaranimal()" class="btn btn-primary">Agregar Animal</button>
        </li>
        <li class="list-group-item">
            <img class="fluid" src="/assets/img/menuhoja.png" alt="">
            <button (click)="listadoHoja()" class="btn btn-primary">Hoja de vida</button>
        </li>
    </ul>

</div>

<app-footer></app-footer>