<app-header></app-header>
<div class="example-loading-shade" *ngIf="isLoadingResults ">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div class="contenedor-login">
    <div class="encabezado-login ">
        <p for="" class="title">INSEMINACION</p>
        <!-- <h1 for="" class="descripcion">Ingresa los datos correspondientes</h1> -->
    </div>

    <div class="encabezado">
        <div class="animal">
            <img *ngIf="animal.fotoAnimal" [src]="animal.fotoAnimal" class="img-animal" alt="...">
            <img *ngIf="!animal.fotoAnimal" src="/assets/img/vaca-negra.png" class="img-animal" alt="...">
        </div>
        <div class="datosanimal">
            <label for="">Nombre:<p>{{animal.nombreAnimal}}</p> </label>
            <label for="">Numero:&nbsp; &nbsp;<p>{{animal.numAnimal}}</p> </label>
        </div>
    </div>

    <div class="login">
        <form class="container">
            <div class="form-group">
                <label>Fecha de Inseminacion</label>
                <input type="date" class="form-control" #fechaInseminacion>
            </div>
            <div class="form-group selectores">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Sexado</label>
                    <input class="form-check-input" type="checkbox" #sexado>
                </div>

                <div class="crias">
                    <label class="form-check-label" for="inlineRadio1">Sexo Cria</label>
                    <div class=sel>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" #sexoM>
                            <label class="form-check-label" for="inlineRadio1">Macho</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" #sexoF>
                            <label class="form-check-label" for="inlineRadio2">Hembra</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Fecha de Monta Natural</label>
                <input type="date" class="form-control" #fechaMonta>
            </div>
            <div class="form-group">
                <label>Fecha de Plantacion de Embrion</label>
                <input type="date" class="form-control" #fechaPlantacion>
            </div>
            <div class="form-group">
                <label>Raza de Inseminacion o Monta </label>
                <input type="text" class="form-control" #raza>
            </div>

            <div class="row">
                <button (click)="guardar(fechaInseminacion.value,sexado.checked,sexoM.checked,sexoF.checked,fechaMonta.value,fechaPlantacion.value,raza.value)" class=" col btn-1 btn btn-primary">Guardar</button>
                <button (click)="cancelar()" class="col btn-2 btn btn-primary">Cancelar</button>
            </div>
        </form>
    </div>
</div>
