<app-header></app-header>
<div class="row">
    <button class=" col btn-1 btn btn-primary">Descargar</button>
    <button class="col btn-2 btn btn-primary">Regresar</button>
</div>
<div class="encabezado">
    <div (click)="openDialog()" class="animal">
        <img class="img-animal" src="/assets/img/vaca-negra.png" alt="">
    </div>
    <div class="datosanimal">
        <label for="">Nombre:&nbsp; &nbsp; <p>Galana</p> </label>
        <label for="">Edad:&nbsp; &nbsp; <p>4 años</p> </label>
        <label for="">Numero:&nbsp; &nbsp;<p>104</p> </label>
        <label for="">Raza:&nbsp; &nbsp; <p>Hostem</p> </label>
    </div>
</div>

<div class="datosgenerales">
    <div class="header-datos-generales">
        <img src="/assets/img/vaca-hoja.png" alt="">
        <label class="title-headers">Datos Generales</label>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Peso Animal</th>
                    <th scope="col">Procendencia</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Fecha de Nacimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1000</th>
                    <td>Criolla</td>
                    <td>F</td>
                    <td>12/08/2001</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="input-group">
    <label for="">Ingrese un limite de consultas</label>
    <div class="form-outline">
        <input #search type="search" id="form1" class="form-control" />
    </div>
    <button type="button" class="btn btn-primary">Generar Reporte</button>
</div>

<div class="datosinseminacion">
    <div class="header-datos-generales">
        <img src="/assets/img/jeringa-hoja.png" alt="">
        <label class="title-headers">Inseminación</label>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha de inseminación</th>
                    <th scope="col">Fecha Monta</th>
                    <th scope="col">Fecha de embrión</th>
                    <th scope="col">Raza Inseminación</th>
                    <th scope="col">Sexado</th>
                    <th scope="col">Sexo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>12/08/2021</td>
                    <td>12/08/2021</td>
                    <td>12/08/2021</td>
                    <td>Gyrl</td>
                    <td>Si</td>
                    <td>Hembra</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="datosnatalidad">
    <div class="header-datos-generales">
        <img src="/assets/img/botella-hoja.png" alt="">
        <label class="title-headers">Natalidad</label>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha de Palpación</th>
                    <th scope="col">Fecha de Premies</th>
                    <th scope="col">Fecha estimada Parto</th>
                    <th scope="col">Produccion Lechera</th>
                    <th scope="col">Numero de Parto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>12/08/2021</td>
                    <td>12/08/2021</td>
                    <td>12/08/2021</td>
                    <td>20</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="datosnatalidad">
    <div class="header-datos-generales">
        <img src="/assets/img/salud-hoja.png" alt="">
        <label class="title-headers">Control Salud</label>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha de Tubercolosis</th>
                    <th scope="col">Resultado</th>
                    <th scope="col">Fecha de Brucelosis</th>
                    <th scope="col">Resultado</th>
                    <th scope="col">Fecha de Mastitis</th>
                    <th scope="col">Resultado</th>
                    <th scope="col">Teta A</th>
                    <th scope="col">Teta B</th>
                    <th scope="col">Teta C</th>
                    <th scope="col">Teta D</th>
                    <th scope="col">Tratamiento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>12/08/2021</td>
                    <td>Positivo</td>
                    <td>12/08/2021</td>
                    <td>Negativo</td>
                    <td>12/08/2021</td>
                    <td>Negativo</td>
                    <td>Si</td>
                    <td>Si</td>
                    <td>Si</td>
                    <td>Si</td>
                    <td>Se aplico tratamiento para colocar fecha de parjdalkdakkkkkkkkkkkkkk</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
