<app-header></app-header>
<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div class="row">
    <button (click)="generarPdf()" class=" col btn-1 btn btn-primary">Descargar</button>
    <button (click)="regresar()" class="col btn-2 btn btn-primary">Regresar</button>
</div>

<div id="contenedor" #contenedor class="contenedor-data">
    <div class="encabezado">
        <div (click)="openDialog()" class="animal">
            <img *ngIf="!img" class="img-animal" src="/assets/img/vaca-negra.png" alt="">
            <img *ngIf="img" class="img-animal" [src]="img" alt="">
        </div>
        <div class="datosanimal">
            <label for="">Nombre:&nbsp; &nbsp; <p>{{animal.nombreAnimal}}</p> </label>
            <label for="">Edad:&nbsp; &nbsp; <p>{{calcularFecha(animal.fechaNacimiento)}} Años</p> </label>
            <label for="">Numero:&nbsp; &nbsp;<p>{{animal.numAnimal}}</p> </label>
            <label for="">Raza:&nbsp; &nbsp; <p>{{animal.razaAnimal}}</p> </label>
        </div>
    </div>

    <div class="datosgenerales">
        <div class="header-datos-generales">
            <img src="/assets/img/vaca-hoja.png" alt="">
            <label class="title-headers">Datos Generales</label>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Peso Animal</th>
                        <th scope="col">Procendencia</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Fecha de Nacimiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{animal.pesoAnimal}}</th>
                        <td>{{animal.origen}}</td>
                        <td>{{animal.sexo}}</td>
                        <td>{{animal.fechaNacimiento | date:'dd/MM/yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="input-group">
        <label for="">Ingrese un limite de consultas</label>
        <div class="form-outline">
            <input #search type="search" id="form1" class="form-control" />
        </div>
        <button (click)="generarReporte(search.value)" type="button" class="btn btn-primary">Generar Reporte</button>
    </div>

    <div class="datosinseminacion">
        <div class="header-datos-generales">
            <img src="/assets/img/jeringa-hoja.png" alt="">
            <label class="title-headers">Inseminación</label>
        </div>
        <div class="table-responsive" *ngIf="inseminacion.length>0">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha de inseminación</th>
                        <th scope="col">Fecha Monta</th>
                        <th scope="col">Fecha de embrión</th>
                        <th scope="col">Raza Inseminación</th>
                        <th scope="col">Sexado</th>
                        <th scope="col">Sexo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let inse of inseminacion,let index = index">
                        <td scope="row">{{index+1}}</td>
                        <td>{{inse.fechaInseminacion |date:'dd/MM/yyyy'}}</td>
                        <td>{{inse.fechaMonta |date:'dd/MM/yyyy'}} </td>
                        <td>{{inse.fechaEmbrion |date:'dd/MM/yyyy'}}</td>
                        <td>{{inse.razaInseminacion}}</td>
                        <td>{{valorSiNo(inse.sexado)}}</td>
                        <td>{{inse.sexo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="inseminacion.length==0" class="alert alert-warning " role="alert ">
            No tiene registro de inseminacion en este animal
        </div>
    </div>

    <div class="datosnatalidad">
        <div class="header-datos-generales">
            <img src="/assets/img/botella-hoja.png" alt="">
            <label class="title-headers">Natalidad</label>
        </div>
        <div class="table-responsive" *ngIf="natalidad.length>0">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha de Palpación</th>
                        <th scope="col">Fecha de Premies</th>
                        <th scope="col">Fecha estimada Parto</th>
                        <th scope="col">Produccion Lechera</th>
                        <th scope="col">Numero de Parto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let nata of natalidad,let index=index">
                        <td scope="row">{{index+1}}</td>
                        <td>{{nata.fechaPalpacion |date:'dd/MM/yyyy'}}</td>
                        <td>{{nata.fechaPremies |date:'dd/MM/yyyy'}}</td>
                        <td>{{nata.fechaAproximadaNacimiento |date:'dd/MM/yyyy'}}</td>
                        <td>{{nata.produccionDiaria}}</td>
                        <td>{{nata.numeroParto}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="natalidad.length==0" class="alert alert-warning " role="alert ">
            No tiene registro de natalidad en este animal
        </div>
    </div>

    <div class="datosnatalidad">
        <div class="header-datos-generales">
            <img src="/assets/img/salud-hoja.png" alt="">
            <label class="title-headers">Control Salud</label>
        </div>
        <div class="table-responsive" *ngIf="salud.length>0">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha de Tubercolosis</th>
                        <th scope="col">Resultado</th>
                        <th scope="col">Fecha de Brucelosis</th>
                        <th scope="col">Resultado</th>
                        <th scope="col">Fecha de Mastitis</th>
                        <th scope="col">Resultado</th>
                        <th scope="col">Teta A</th>
                        <th scope="col">Teta B</th>
                        <th scope="col">Teta C</th>
                        <th scope="col">Teta D</th>
                        <th scope="col">Tratamiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let salu of salud,let index=index">
                        <td scope="row">{{index+1}}</td>
                        <td>{{salu.fechaPruebaTubercolosis |date:'dd/MM/yyyy'}}</td>
                        <td>{{resultadoEnfermedad(salu.tubercolosis)}}</td>
                        <td>{{salu.fechaPruebaBrucelosis |date:'dd/MM/yyyy'}}</td>
                        <td>{{resultadoEnfermedad(salu.brucelosis)}}</td>
                        <td>{{salu.fechaPruebaMastitis |date:'dd/MM/yyyy'}}</td>
                        <td>{{resultadoEnfermedad(salu.mastitis)}}</td>
                        <td>{{valorSiNo(salu.tetaA)}}</td>
                        <td>{{valorSiNo(salu.tetaB)}}</td>
                        <td>{{valorSiNo(salu.tetaC)}}</td>
                        <td>{{valorSiNo(salu.tetaD)}}</td>
                        <td>{{salu.tratamiento}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="salud.length==0" class="alert alert-warning " role="alert ">
            No tiene registro de control de salud en este animal
        </div>
    </div>
</div>