<div class="contenedor">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption">
                    <img src="/assets/img/logo.png" class="imagenPublicidad" alt="...">
                    <h2>Control Ganadero</h2>
                    <p>Esta es una aplicacion la cual le permitira llevar el control de si finca. Almacenado datos como ...</p>
                </div>
            </div>
            <div class="carousel-item">

                <div class="carousel-caption">
                    <img src="/assets/img/jeringa.png" class="imagenPublicidad " alt="">
                    <h2>Inseminacion</h2>
                    <p>Manter un control de las inseminaciones, monta naturales, colocación de embriones.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <img src="/assets/img/Vaca.png" class="imagenPublicidad" alt="">
                    <h2>Natalidad</h2>
                    <p>Podra mantener las fechas de palpacion, premies, aproximacion de parto.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <img src="/assets/img/salud.png" class="imagenPublicidad" alt="">
                    <h2>Control de Salud</h2>
                    <p>Podra almacenar todos los examenes medicos que le realice a los animales con su respectivo tratamiento.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

    </div>
    <div class="footer col text-center">
        <button (click)='routerLogin()' class="btn btn-danger btningresar">Ingresar</button>
        <button (click)='routerRegistro()' class="btn btn-danger btnregistrar">Registrarse</button>
    </div>
</div>
