<div class="contenedor-login">
    <img src="/assets/img/logo.png" alt="">
    <div class="login">
        <form class="container">
            <div class="encabezado-login ">
                <p for="" class="title">Bienvenido a tu App Ganadera</p>
                <h1 for="" class="descripcion">Ingresa tus Datos para registrarte</h1>
            </div>
            <div class="form-group">
                <label for="email">Ingresa tu nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ejemplo: Juan Mario">
            </div>
            <div class="form-group">
                <label for="email">Ingresa tu Apellido</label>
                <input type="text" class="form-control" id="apellido" aria-describedby="emailHelp" placeholder="Ejemplo: Rueda Rivera">
            </div>
            <div class="form-group">
                <label for="email">Ingresa tu correo</label>
                <input type="email" class="form-control" id="correo" aria-describedby="emailHelp" placeholder="ejemplo@gmail.com">
            </div>
            <div class="form-group">
                <label for="password">Ingresa tu contraseña</label>
                <input type="password" class="form-control" id="contraseña" placeholder="********">
            </div>
            <div class="form-group">
                <label for="password">Repite tu contraseña</label>
                <input type="password" class="form-control password" id="contraseña2" placeholder="********">
            </div>
            <div class="form-group">
                <label for="password">Elije tu pais</label>
                <select class="form-select" id="pais">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="password">Ingresa tu numero</label>
                <div class="numeroTel">
                    <select class="form-select num-pais" id="codigoPais">
                    <option selected>+(###)</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                    <input type="number" class="form-control" id="numeroTel" placeholder="12345">

                </div>
            </div>
            <div class="form-group">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Es propietario de una finca</label>
                    <input class="form-check-input" type="checkbox" id="propietario" #propietario>
                </div>
            </div>
            <div *ngIf="propietario" class="form-group">
                <label for="password">Ingrese nombre de finca</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ejemplo: Las margaritas">
            </div>
            <div class="row">
                <button onclick="imprimirValores()" class=" col btn-1 btn btn-primary">Registrarse</button>
                <button (click)=' routerLogin()' class="col btn-2 btn btn-primary">Iniciar Sesion</button>
            </div>
        </form>
    </div>
</div>