<app-header></app-header>
<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<div class="menu">

    <ul class="list-group ">
        <li class="list-group-item active" aria-current="true">
            <label class="title">Inventario de Ganado</label>
            <label class="description">Informacion de los animales existentes de la finca</label>
        </li>
        <li class="list-group-item grupo">
            <label for="" class="titleData">Total de animales: </label>
            <div class="label">
                <Label class="data">{{reporteInventario.totalAnimales}}</Label>
            </div>
        </li>
        <li class="list-group-item grupo">
            <label for="" class="titleData">Total de Hembras: </label>
            <div class="label">
                <Label class="data">{{reporteInventario.totalH}}</Label>
            </div>
        </li>
        <li class="list-group-item grupo">
            <label for="" class="titleData">Total de Machos: </label>
            <div class="label">
                <Label class="data">{{reporteInventario.totalM}}</Label>
            </div>
        </li>
        <li class="list-group-item grupo">
            <label for="" class="titleData">Total en Produccion: </label>
            <div class="label">
                <Label class="data">{{reporteInventario.totalProd}}</Label>
            </div>
        </li>
        <li class="list-group-item grupo">
            <label for="" class="titleData">Total de Vacas</label>
            <div class="label">
                <Label class="data">{{reporteInventario.totalVacas}}</Label>
            </div>
        </li>
        <li class="list-group-item grupo">
            <label for="" class="titleData">Total de Toros</label>
            <div class="label">
                <Label class="data">{{reporteInventario.totalToros}}</Label>
            </div>
        </li>
        <li class="list-group-item grupo">
            <label for="" class="titleData">Vacas Forras</label>
            <div class="label">
                <Label class="data">{{reporteInventario.totalForras}}</Label>
            </div>
        </li>
        <li class="list-group-item grupo">
            <label for="" class="titleData">Novillas</label>
            <div class="label">
                <Label class="data">{{reporteInventario.novillas}}</Label>
            </div>
        </li>
        <li class="list-group-item grupo">
            <label for="" class="titleData">Toretes</label>
            <div class="label">
                <Label class="data">{{reporteInventario.novillos}}</Label>
            </div>
        </li>
        <li class="list-group-item grupo">
            <label for="" class="titleData">Terneros hembras</label>
            <div class="label">
                <Label class="data">{{reporteInventario.ternerosH}}</Label>
            </div>
        </li>
        <li class="list-group-item grupo">
            <label for="" class="titleData">Terneros Varones</label>
            <div class="label">
                <Label class="data">{{reporteInventario.ternerosM}}</Label>
            </div>
        </li>

    </ul>

</div>
<app-footer></app-footer>
