.vaca {
    position: relative;
    width: 100%;
    height: 150%;
    bottom: 0;
    height: auto;
}

.active {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    text-align: center;
    border: none;
    background-color: #64AC3F;
}

.btn {
    background-color: #64AC3F;
    border: none;
    margin-left: 5%;
    min-width: 159px;
}

.title {
    font-weight: bold;
    font-size: 30px;
    margin-top: 5px;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descripcion {
    font-weight: bold;
    margin-left: 2%;
    margin-right: 2%;
}

.divimagen {
    background-color: #64AC3F;
    width: auto;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .vaca {
        top: 45%;
        border-top-left-radius: 40%;
        border-top-right-radius: 40%;
    }
}

@media screen and (max-width:480px) and (min-width:200px) {
    /* smartphones, Android phones, landscape iPhone */
    .vaca {
        position: absolute;
        width: 100%;
        top: 65%;
        bottom: 0;
        height: auto;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }
    .menu {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        text-align: center;
    }
    .fluid {
        width: 25%;
    }
}

@media screen and (max-width:600px) and (min-width:480px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media screen and (max-width:801px) and (min-width:600px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media screen and (max-width:1200px) and (min-width:801px) {
    /* big landscape tablets, laptops, and desktops */
}
